/venv
/documents/AN/*
*.xml
*.json
.DS_Store
.DS_Store?
._*
*Zone.Identifier
Thumbs.db
code/__pycache__/*
code/venv/*
code/Test_modele/final_model/*
code/Test_modele/bert_text_classifier/*
code/Test_modele/predictions_finales.json
code/data_a_predire.json
code/Modele/final_model/config.json
code/Modele/final_model/labels.json
code/Modele/final_model/model.safetensors
code/Modele/final_model/tokenizer_config.json
code/Modele/final_model/tokenizer.json
code/Modele/final_model/training_args.bin
code/Modele/bert_text_classifier/checkpoint-282/config.json
code/Modele/bert_text_classifier/checkpoint-282/model.safetensors
code/Modele/bert_text_classifier/checkpoint-282/optimizer.pt
code/Modele/bert_text_classifier/checkpoint-282/rng_state.pth
code/Modele/bert_text_classifier/checkpoint-282/scheduler.pt
code/Modele/bert_text_classifier/checkpoint-282/tokenizer_config.json
code/Modele/bert_text_classifier/checkpoint-282/tokenizer.json
code/Modele/bert_text_classifier/checkpoint-282/trainer_state.json
code/Modele/bert_text_classifier/checkpoint-282/training_args.bin
code/Modele/bert_text_classifier/checkpoint-188/config.json
code/Modele/bert_text_classifier/checkpoint-188/model.safetensors
code/Modele/bert_text_classifier/checkpoint-188/optimizer.pt
code/Modele/bert_text_classifier/checkpoint-188/rng_state.pth
code/Modele/bert_text_classifier/checkpoint-188/scheduler.pt
code/Modele/bert_text_classifier/checkpoint-188/tokenizer_config.json
code/Modele/bert_text_classifier/checkpoint-188/tokenizer.json
code/Modele/bert_text_classifier/checkpoint-188/trainer_state.json
code/Modele/bert_text_classifier/checkpoint-188/training_args.bin
code/Modele/stats_predictions/logits.npy
code/Modele/stats_predictions/vrais_labels.npy
code/Modele/predictions_finales.json
